.List {
  background-color: #efefef;
  margin-bottom: 10px;
  width: 270px;
  display: inline-flex;
  margin-right: 10px;
}

.button {
  margin-top: 10px;
}

.NewList {
  display: inline-flex;
}

.task-delete {
  float: right;
}
